@font-face {
font-family:Pokemon;
src:url(../images/pokemon.ttf);
}
html, body {
background-color:#000;
color:#fff;
font-family:Helvetica, Arial, Verdana, sans-serif;
font-size:13px;
margin:0;
padding:0;
width:800px;
height:600px;
overflow:hidden;
position:fixed;
}
* {
cursor:default;
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-o-user-select:none;
-ms-user-select:none;
}
input[type=text], input[type=password], input[type=email] {
border-radius:13px;
-webkit-border-radius:13px;
-ms-border-radius:13px;
-moz-border-radius:13px;
-o-border-radius:13px;
border:0;
height:15px;
width:100px;
outline:none;
text-align:center;
user-select:auto;
-webkit-user-select:auto;
-moz-user-select:auto;
-o-user-select:auto;
-ms-user-select:auto;
}
div#initial {
width:275px;
margin-left:auto;
margin-right:auto;
padding-top:100px;
text-align:center
}
div#register {
display:none;
}
div#register table {
margin-left:auto;
margin-right:auto
}
div#register td {
text-align:left;
padding-bottom:5px
}
div#register input[type=text], div#register input[type=password], div#register input[type=email] {
width:150px;
text-align:left;
padding-left:3px;
padding-right:3px
}
a {
color:gray
}
a:active {
color:#fff
}
div#version {
text-align:right;
font-size:10px;
color:gray;
}
div#toolbar {
display:none;
margin:0;
padding:0;
background-color:#001862;
width:800px;
height:28px;
text-align:center
}
input#chat {
width:368px;
height:28px;
color:#fff;
background:url(../images/chatbar.png) no-repeat;
border:0;
font-family:Pokemon;
border-radius:0;
text-align:left;
padding-left:5px;
padding-right:5px;
position:relative;
top:-10px
}
div#messagebox {
border:5px #fff solid;
height:200px;
width:400px;
overflow-y:scroll;
font-family:Pokemon;
text-align:left;
white-space:pre;
display:none;
border-radius:5px;
padding:10px;
position:absolute;
z-index:10;
top:50px;
left:200px;
background:#000;
opacity:.8
}
div#viewport {
line-height:0;
}
div#history_button {
background:url(../images/chat_history.png) no-repeat;
width:37px;
height:28px;
padding:0;
margin:0;
display:inline-block;
cursor:pointer
}
div#history_button:active {
background:url(../images/chat_history_active.png) no-repeat;
}
div#logout_button {
background:url(../images/logout.png) no-repeat;
width:22px;
height:28px;
padding:0;
margin:0;
display:inline-block;
cursor:pointer
}
div#logout_button:active {
background:url(../images/logout_active.png) no-repeat;
}